<form [formGroup]="loginData" (ngSubmit)="onlogin()" class="box">
    <h1>Welcome!!</h1>
    <h3>Please enter your data to continue..</h3>
    <p>Username</p>
    <input formControlName="username" type="text" class="form-control" placeholder="username">
    <p>Password</p>
    <input type="password" formControlName="password" placeholder="password" class="form-control">
    <button type="submit" class="submit-btn">Log in</button>
    <hr color="#2f3542" style="height: 0.5%;" />
</form>


<!-- <table class="table table-dark table-hover text-center">
    <thead>
        <tr>

            <th>fullname</th>
            <th>username</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let user of Controllers; index as i">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
        </tr>

    </tbody>


</table> -->