<div class="container">
    <nav class="nav-bar">
        <div class="title">
            <h1>Bazar</h1>
            <hr style="width: 100%; color: white;">
        </div>
        <div class="nav-body ">
            <li class="menu " id="profile ">
                <a routerLink="#" class="menu-btn ">
                    <i class="fas fa-user-circle "></i><span>Home </span>
                </a>
            </li>
            <li class="menu " id="profile ">
                <a routerLink="/users" class="menu-btn ">
                    <span>User Info </span>
                </a>
            </li>
            <li class="menu " id="profile ">
                <a routerLink="/items" class="menu-btn ">
                    <span>Total item</span>
                </a>
            </li>
            <li class="menu " id="profile ">
                <a routerLink="/items" class="menu-btn ">
                    <span>Item sold</span>
                </a>
            </li>
            <li class="menu " id="profile ">
                <a routerLink="/popular-item" class="menu-btn ">
                    <span>popular item</span>
                </a>
            </li>
            <li class="menu " id="profile">
                <a routerLink="" class="menu-btn ">
                    <span>Log Out</span>
                </a>
            </li>

        </div>
    </nav>


</div>